sasl.mechanism=PLAIN
request.timeout.ms=20000
retry.backoff.ms=500
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{sasl_username}}" password="{{sasl_password}}";
ssl.keystore.location="{{ssl_keystore_location}}"
ssl.keystore.password="{{ssl_keystore_password}}"
ssl.truststore.location="{{ssl_truststore_location}}"
ssl.truststore.password="{{ssl_truststore_password}}"
